{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h1>OK</h1>
    <form action="/search" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="input-box" name="letter1" type="text" maxlength=1>
            <input autocomplete="off" class="input-box" name="letter2" type="text" maxlength=1>
            <input autocomplete="off" class="input-box" name="letter3" type="text" maxlength=1>
            <input autocomplete="off" class="input-box" name="letter4" type="text" maxlength=1>
            <input autocomplete="off" class="input-box" name="letter5" type="text" maxlength=1>
        </div>
        <div class="form-group">
            <input class="form-control" name="oletters" placeholder="Good letters" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="xletters" placeholder="Wrong letters" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Search</button>
    </form>

    </br>

    <div>
      {% if answers %}
        <h5>Possible Answers:</h5>
      {% endif %}

      {% for answer in answers %}
        <span>{{ answer }}</span></br>
      {% endfor %}

    </div>

{% endblock %}
